
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');
@import "font-awesome";


.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 2px 2px 3px 0 #d0d0d0;
  background: rgba(227, 237, 228, .8);
  border: 2px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  
}

h1 {
    color: #514647;
    font-family: 'Baloo Bhaina', cursive;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    background: image_url('bg.png');
}

.navbar-inverse .navbar-brand {
    color: #e00012;
    text-transform: uppercase;
    font-family: 'Baloo Bhaina', cursive;
    font-size: 30px;
}

.page-nav {
    text-align: center;
}

