
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');
@import "font-awesome";


.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 2px 2px 3px 0 #d0d0d0;
  background: rgba(227, 237, 228, .8);
  border: 2px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  
}

h1 {
    color: #514647;
    font-family: 'Baloo Bhaina', cursive;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    background: image_url('bg.png');
}

.navbar-inverse .navbar-brand {
    color: #e00012;
    text-transform: uppercase;
    font-family: 'Baloo Bhaina', cursive;
    font-size: 30px;
}

.page-nav {
    text-align: center;
}

.help-block {
    color: #ff3333;
    background-color: #FFEEEE;
    border-radius: 3px;
    padding: 2px 8px 2px 8px;
    text-transform: uppercase;
    margin-top: 15px;
}

#map {
  height: 300px;
}

.clear {
    clear: both;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #e00012;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

a {
    color: #e00012;
}

a:hover {
    color: #93000b;
    text-decoration: none;
}

.index-image {
    max-width: 150px;
    height: auto;
}

.divider {
    width:10px;
}

.floatright {
    float: right;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}